<%- include("../elements_admin/head.ejs") %>

    <body>
        <!-- Left Panel -->

        <%- include("../elements_admin/nav.ejs") %>

            <!-- Left Panel -->

            <!-- Right Panel -->

            <div id="right-panel" class="right-panel">
                <!-- Header-->
                <%- include("../elements_admin/header") %>
                    <!-- /header -->
                    <!-- Header-->

                    <%- include("../items_admin/edit_catalogs") %>
                        <!-- /#right-panel -->

                        <!-- Right Panel -->

            </div>
            <%- include("../elements_admin/script") %>
    </body>

    </html>